.DS_Store
dist
.idea
.vscode
CMakeFiles
buildbuild_lib
build
build_lib
Makefile
fort.50

py311_env
py313_env
py312_env
env

CM4/__pycache__
CM4/.DS_Store
CM4/fortran
CM4/*.so
CM4/out_1.txt

tests/fort.50
tests/results
tests/cm4_results
tests/create_cm4_results


.github/workflows/test-linux-wheel.yml
.github/workflows/test-mac-wheel.yml
.github/workflows/test-release-path.yml
.github/workflows/test-windows-wheels.yml