.DS_Store
dist
.idea
.vscode
CMakeFiles
buildbuild_lib
build
build_lib
Makefile
fort.50

py311_env
py313_env
py312_env
env

CM4/__pycache__
CM4/.DS_Store
CM4/fortran
CM4/*.so
CM4/out_1.txt

tests/results